<!DOCTYPE html>
<html>
<head>
	<%- include('../_partials/meta') %>
	<title>Community - Dojo Toolkit</title>
</head>
	<body class="community">
		<%- include('../_partials/header') %>
		<%- include('../_partials/subnav', {subnav: url.subnav.community}) %>
		<main>
			<section class="support alt">
				<div class="row">
					<h1 class="pageTitle" id="support">Dojo Community</h1>
					<h2 class="sectionTitle alt">Help & Support</h2>
						<%- include('../_partials/ui/helpSupport') %>
				</div>
			</section>

			<section class="communicate">
				<div class="row">
					<h2 class="sectionTitle" id="communicate">Socially Yours</h2>
					<%- include('../_partials/ui/social') %>
				</div>
			</section>

			<section class="related alt">
				<div class="row">
					<div class="small-centered medium-10 large-10 columns">
						<h2 class="sectionTitle" id="related">Related Projects</h2>
						<div class="constrain">
							<div class="three-up-icons">
								<div class="medium-4 columns iconBlock">
									<a href="<%= url.ext.dstore %>"><img src="/images/projects/dstore.svg"></a>
									<h4 class="blockLink"><a href="<%= url.ext.dstore %>">dstore</a></h4>
									<p>Manage client-side data using an elegant, expressive data framework providing consistent APIs and multiple default store types.</p>
								</div>
								<div class="medium-4 columns iconBlock intern">
									<a href="<%= url.ext.intern %>"><img src="/images/projects/intern.svg"></a>
									<h4 class="blockLink"><a href="<%= url.ext.intern %>">Intern</a></h4>
									<p>Combines all the best features from various testing tools (and then some!) into a versatile, easy-to-use testing stack for JavaScript.</p>
								</div>
								<div class="medium-4 columns iconBlock">
									<a href="<%= url.ext.dgrid %>"><img src="/images/projects/dgrid.svg"></a>
									<h4 class="blockLink"><a href="<%= url.ext.dgrid %>">dgrid</a></h4>
									<p>A next generation grid component that takes full advantage of modern browsers and object stores. Lightweight, modular, and easily extensible.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="row">
					<div class="small-centered medium-8 columns">
						<h2 class="sectionTitle" id="contribute">Become a Contributor</h2>
						<p>We are SO excited you want to join us and help build the next generation of Web development tools! The first thing we ask is that you have a Contributor License Agreement (CLA) in place before submitting code.</p>

						<div class="constrain">
							<h3 class="sectionTitle alt"><span class="icon-spec icon"></span>CLA</h3>
							<p>Most forms of contribution aside from providing support to other users requires that you sign and submit a Contributors License Agreement (or "CLA" for short) with the JS Foundation. Sending in a CLA is a one-time thing, and once it's done, you're in the clear to start contributing to all Dojo Foundation projects! </p>

							<div class="row cla">
								<div class="columns individual">
									<a href="https://js.foundation/cla"><span class="icon-profile-male icon"></span> The Individual CLA</a>
									<p>You're working on a JS Foundation project in your spare time, or can clearly claim ownership of copyright in what you'll be submitting</p>

								</div>
							</div>

							<p>In summary, the CLA asserts that when you donate fixes or documentation, you both own the code that you're submitting and that the JS Foundation can in turn license that code to other people.</p>

							<p>For more on CLAs, read Alex Russell's <a href="http://alex.dojotoolkit.org/2008/06/why-do-i-need-to-sign-this/">Why Do I Need to Sign This?</a>.</p>

							<div class="becomeContributor"><a href="https://github.com/dojo/meta/blob/master/CONTRIBUTING.md"><span class="button">Start Contributing</span></a></div>
							

							<p>To report vulnerabilities in Dojo Toolkit, please email us: dojo-security@dojotoolkit.org</p>
						</div>
					</div>
				</div>
			</section>

			<%- include('../_partials/footer') %>
		</main>
	</body>
</html>
