<!DOCTYPE html>
<html>
<head>
	<%- include('../_partials/meta') %>
	<title>Community - Dojo Toolkit</title>
</head>
	<body class="community">
		<%- include('../_partials/header') %>
		<%- include('../_partials/subnav', {subnav: url.subnav.community}) %>
		<main>
			<div class="row">
				<div class="small-centered medium-10 large-10 columns">
					<h1 class="pageTitle">Dojo Community</h1>
					<h2 class="subTitle">Help & Support</h2>
				</div>
			</div>
			<div class="row constrain section support" id="support">
				<%- include('../_partials/ui/helpSupport') %>
			</div>

			<div class="row full section alt" id="contribute">
				<div class="small-centered medium-10 large-10 columns">
					<h2 class="sectionTitle">Become a Contributor</h2>
				</div>
			</div>

			<%- include('../_partials/footer') %>
		</main>
	</body>
</html>