<!DOCTYPE html>
<html>
<head>
	<%- include('../_partials/meta') %>
	<title>Community - Dojo Toolkit</title>
</head>
	<body class="community">
		<%- include('../_partials/header') %>
		<%- include('../_partials/subnav', {subnav: url.subnav.community}) %>
		<main>
			<div class="row">
				<h1 class="pageTitle">Dojo Community</h1>
				<div class="three-up-icons">

					<div class="medium-4 columns iconBlock gh">
						<a href="<%= url.related %>" class="icon-source icon"></a>
						<h4 class="blockLink"><a href="<%= url.related %>">Related Projects</a></h4>
						<p>There's more to Dojo than the toolkit.</p>
					</div>
					<div class="medium-4 columns iconBlock help">
						<a href="<%= url.ext.stackoverflow %>" class="icon-stackoverflow icon"></a>
						<h4 class="blockLink"><a href="<%= url.ext.stackoverflow %>">Get Help</a></h4>
						<p>Have questions? Need help? The internet can help you!</p>
					</div>
					<div class="medium-4 columns iconBlock contribute">
						<a href="<%= url.contribute %>" class="icon-complete icon"></a>
						<h4 class="blockLink"><a href="<%= url.contribute %>">Contribute</a></h4>
						<p>Always dreamed of hacking on an Open Source project?</p>
					</div>
				</div>
			</div>
			<div class="row full section alt support" id="support">
				<div class="small-centered medium-10 large-10 columns">
					<h2 class="sectionTitle">Help & Support</h2>
					<%- include('../_partials/ui/helpSupport') %>

				</div>
			</div>

			<div class="row full section" id="related">
				<div class="small-centered medium-10 large-10 columns">
					<h2 class="sectionTitle">Related Projects</h2>

				</div>
			</div>

			<div class="row full section alt" id="contribute">
				<div class="small-centered medium-10 large-10 columns">
					<h2 class="sectionTitle">Become a Contributor</h2>

				</div>
			</div>


			<%- include('../_partials/footer') %>
		</main>
	</body>
</html>