<div class="docsLeadin">
	<div class="medium-4 columns doc guide">
		<a href="<%= url.guide %>" class="icon-guide"></a>
		<h4 class="docLink"><a href="<%= url.guide %>">Reference Guide</a></h4>
		<p>Documentation and examples for every part of The Dojo Toolkit.</p>
	</div>
	<div class="medium-4 columns doc tutorials">
		<h3 class="sectionTitle">Use Dojo</h3>
		<a href="<%= url.tutorials %>" class="icon-tutorials"></a>
		<h4 class="docLink"><a href="<%= url.tutorials %>">Tutorials</a></h4>
		<p>Step by step guides focused on using Dojo to develop web apps.</p>

	</div>
	<div class="medium-4 columns doc api">
		<a href="<%= url.api %>" class="icon-api"></a>
		<h4 class="docLink"><a href="<%= url.api %>">API</a></h4>
		<p>The hardcore, no fluff API documentation for the Dojo Toolkit</p>
	</div>
</div>