<div class="three-up-icons">
	<div class="medium-4 columns iconBlock guide">
		<a href="<%= url.root %><%= url.guide %>" class="icon-guide"></a>
		<h4 class="blockLink"><a href="<%= url.root %><%= url.guide %>">Reference Guide</a></h4>
		<p>Documentation and examples for every part of The Dojo Toolkit.</p>
	</div>
	<div class="medium-4 columns iconBlock tutorials">
		<% if(typeof title !== 'undefined') { %>
			<h3 class="sectionTitle"><%= title %></h3>
		<% } %>
		<a href="<%= url.root %><%= url.tutorials %>" class="icon-tutorials"></a>
		<h4 class="blockLink"><a href="<%= url.root %><%= url.tutorials %>">Tutorials</a></h4>
		<p>Step by step guides focused on using Dojo to develop web apps.</p>

	</div>
	<div class="medium-4 columns iconBlock api">
		<a href="<%= url.root %><%= url.api %>" class="icon-api"></a>
		<h4 class="blockLink"><a href="<%= url.root %><%= url.api %>">API</a></h4>
		<p>The hardcore, no fluff API documentation for the Dojo Toolkit</p>
	</div>
</div>