<div class="medium-2 columns medium-offset-1">
	<a href="<%= url.ext.mailingList %>" class="icon mailingList">Dojo Mailing List</a>
</div>
<div class="medium-2 columns">
	<a href="<%= url.ext.irc %>" class="icon irc">#dojo on IRC</a>
</div>
<div class="medium-2 columns">
	<a href="<%= url.ext.gitter %>" class="icon irc">#dojo2 on gitter</a>
</div>
<div class="medium-2 columns">
	<a href="<%= url.ext.stackoverflow %>" class="icon stackoverflow">Stack Overflow</a>
</div>
<div class="medium-2 columns end">
	<a href="<%= url.ext.commercialSupport %>" class="icon support">Commercial Support</a>
</div>
