<div class="medium-6 columns">
	<div class="package <%= status %>">
		<div class="content">
			<div class="title"><%= title %></div>
			<div class="description">
				<%= description %>
			</div>
		</div>
		<div class="taskbar">
			<div class="controls">
				<a href="<%= specUrl %>"><span class="icon-spec icon"></span></a>
				<a href="<%= githubUrl %>"><span class="icon-github icon disabled"></span></a>
			</div>

			<div class="label">#<%= status %></div>
		</div>
	</div>
</div>