<div class="medium-6 columns">
	<div class="card <%= status %>">
		<div class="content">
			<div class="title">
				<% if(specUrl) { %>
					<a href="<%= specUrl %>" target="_blank">
				<% } else { %>
					<a class="disabled">
				<% } %>
						<%= title %>
					</a>
			</div>
			<div class="description">
				<%= description %>
			</div>
		</div>
		<div class="taskbar">
			<div class="controls">

				<% if(specUrl) { %>
					<a href="<%= specUrl %>" target="_blank">
				<% } else { %>
					<a class="disabled">
				<% } %>
						<span class="icon-spec icon"></span>
					</a>

				<% if(githubUrl) { %>
					<a href="<%= githubUrl %>" target="_blank">
				<% } else { %>
					<a class="disabled">
				<% } %>
						<span class="icon-github icon"></span>
					</a>
			</div>

			<div class="tag <%= status %>">#<%= status %></div>
		</div>
	</div>
</div>