<div class="medium-6 columns">
	<div class="card <%- tags %>">
		<div class="content">
			<div class="title">
					<a href="<%= tutUrl %>"><%- title %></a>
			</div>
			<div class="description">
				<%- description %>
			</div>
		</div>
		<div class="taskbar">
			<div class="controls">

			</div>

			<div class="tag <%= tags %>">#<%- tags %></div>
		</div>
	</div>
</div>