<div class="medium-6 columns">
	<div class="card <% classes.forEach(function(cssClass, idx){ %><%- cssClass %><% }) %>">
		<div class="content">
			<div class="title">
					<a href="<%= tutUrl %>"><%- title %></a>
			</div>
			<div class="description">
				<%- description %>
			</div>
		</div>
		<div class="taskbar">
			<div class="controls">

			</div>

			<div class="tag <%= tags %>"><% if(tags) { %>#<%- tags %><% } %></div>
		</div>
	</div>
</div>