<ul class="inline-list tutorialsMenu">
	<li><a href="<%= root %>#tutorials"><span class="icon-tutorials icon"></span>All Tutorials</a></li>
	<li><a href="<%= root %>#getting-started"><span class="icon-compass icon"></span>Getting Started</a></li>
	<li><a href="<%= root %>#modules"><span class="icon-modular icon"></span>Modules</a></li>
	<li><a href="<%= root %>#dom-basics"><span class="icon-dom icon"></span>DOM Basics</a></li>
	<li><a href="<%= root %>#fundamentals"><span class="icon-fundamentals icon"></span>Fundamentals</a></li>
	<li><a href="<%= root %>#widgets"><span class="icon-widgets icon"></span>Widgets</a></li>
	<li><a href="<%= root %>#working-with-data"><span class="icon-loop icon"></span>Data</a></li>
	<li><a href="<%= root %>#mobile"><span class="icon-modern icon"></span>Mobile</a></li>
</ul>