<!DOCTYPE HTML>
<html>
<head>
	<% include meta %>
	<% include ga %>
	<% include favicons %>

	<title>dstore: <%= title %></title>

	<script src="//use.typekit.net/vti8hwj.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="../css/tutorials.css">
</head>
<body>
	<% include nav %>

	<div class="row">
		<div class="tutorialNav large-3 columns">
			<span class="title">Tutorials</span>

			<% for(var i = 0; i < tutorials.length; i++) { %>
				<% if (!tutorials[i].disabled) { %>
					<% if (tutorials[i].title.toLowerCase() == title.toLowerCase()) { %>
						<a class="active" href="<%= tutorials[i].filename %>">
					<% } else if (tutorials[i].title.toLowerCase() == 'index' && title.toLowerCase() == 'introduction'){ %>
						<a class="active" href="<%= tutorials[i].filename %>">
					<% } else { %>
						<a href="<%= tutorials[i].filename %>">
					<% } %>
						<% if (tutorials[i].title.toLowerCase() == 'index') { %>
							introduction
						<% } else { %>
							<%= tutorials[i].title %>
						<% } %>
					</a>
				<% } %>
			<% } %>
		</div>

		<div class="large-9 columns content">
			<%- content %>
		</div>
	</div>

	<% include footer %>
</body>
</html>