<!DOCTYPE html>
<html>
<head>
	<%- include('../_partials/meta', {'deps':['dtk/filter']}) %>
	<link rel="stylesheet" href="/css/tutorial_archive.css">
	<title>Dojo Tutorials - Dojo Toolkit</title>
</head>
<body class="tutorials archive">
	<%- include('../_partials/header') %>
	<main class="nonav">
		<div class="row">
			<h1 class="pageTitle">Dojo Documentation</h1>
			<h2 class="sectionTitle alt">Tutorial Archive</h2>
		</div>

		<div class="status section alt" id="tutorials">
			<div class="tutorialMenuContainer">
				<div class="row">
					<div class="medium-12 columns small-centered">

					</div>
				</div>
			</div>

			<div class="cardGrid medium-10 columns small-centered">
				<div class="row">
					<div class="archiveVer">
						<p><strong>These tutorials are for Dojo <%= ver %> and may be out of date.</strong></p>
						<p><a href="<%= url.tutorials %>">Up to date tutorials</a> for the latest version of Dojo are available.</p>
					</div>
				</div>
				<% tutorials.forEach(function(cat, idx, arr) {%>
					<%- include('../_partials/ui/tutorialSection', {tutorials: cat}) %>
				<% }); %>
			</div>
		</div>
		<%- include('../_partials/footer') %>
	</main>
</body>
</html>