<!DOCTYPE HTML>
<html>
	<head>
		<%- include('../../../_partials/meta') %>
		<script src="/scripts/syntaxhighlighter/scripts/shCore.js"></script>
		<script src="/scripts/syntaxhighlighter/scripts/shBrushJScript.js"></script>
		<script src="/scripts/syntaxhighlighter/scripts/shBrushXml.js"></script>
		<script src="/scripts/syntaxhighlighter/scripts/shBrushCss.js"></script>
		<link rel="stylesheet" href="/css/tutorial_archive.css">
		<title><%= title %> - Archived Tutorial - Dojo Toolkit</title>
	</head>
	<body class="tutorial archive">
		<%- include('../../../_partials/header') %>
		<div class="subnav">
			<div class="row">
				<div class="medium-12 columns">

				</div>
			</div>
		</div>
		<main>
			<div class="row">
				<div class="medium-10 medium-centered columns content">
					<div class="archiveVer">
						<p><strong>This tutorial is for Dojo <%= dojoVersion %> and may be out of date.</strong></p>
						<p><a href="<%= url.tutorials %>">Up to date tutorials</a> are available.</p>
					</div>
					<h2><%= title %></h2>

					<p><%- description %></p>
					<%- content %>
				</div>
			</div>
			<%- include('../../../_partials/footer') %>
			<script type="text/javascript">
     			SyntaxHighlighter.all()
			</script>

		</main>
	</body>
</html>