<!DOCTYPE html>
<html>
<head>
	<%- include('../_partials/meta') %>
	<script type="text/javascript" src="/scripts/tutorials/filter.js?<%= rev %>"></script>
	<title>Dojo Tutorials - Dojo Toolkit</title>
</head>
<body class="tutorials">
	<%- include('../_partials/header') %>
	<div class="subnav">
		<div class="row">
			<div class="medium-12 columns">

			</div>
		</div>
	</div>

	<main>
		<div class="row">
			<h1 class="pageTitle">Dojo Documentation</h1>
			<div class="row full section docs nopad">
				<%- include('../_partials/ui/docsLeadin', url) %>
			</div>
		</div>

		<div class="section status section alt">
				<div class="cardGrid medium-10 columns small-centered">

					<% tutorials.forEach(function(tutorial, idx){ %>
						<% if(idx % 2 == 0) { %>
							<div class="row">
						<% } %>
						<%- include('../_partials/ui/tutorialCard', tutorial); %>
						<% if(idx % 2) { %>
							</div>
						<% } %>
					<% }); %>

				</div>
			</div>
		</div>
		<%- include('../_partials/footer') %>
	</main>
</body>
</html>