<!DOCTYPE HTML>
<html>
	<head>
		<%- include('../_partials/meta') %>
		<title><%= title %> - Dojo Toolkit Tutorial</title>
	</head>
	<body class="tutorial">
		<%- include('../_partials/header') %>
		<div class="subnav">
			<div class="row">
				<div class="medium-12 columns">
					<%- include('../_partials/ui/tutorialMenu', {root: url.docs}) %>
				</div>
			</div>
		</div>
		<main>
			<div class="row">
				<div class="medium-12 medium-centered columns content">
					<%- content %>
				</div>
			</div>
			<%- include('../_partials/footer') %>
		</main>
	</body>
</html>