<!DOCTYPE HTML>
<html>
	<head>
		<%- include('../_partials/meta') %>
		<script src="/scripts/syntaxhighlighter/scripts/shCore.js"></script>
		<script src="/scripts/syntaxhighlighter/scripts/shBrushJScript.js"></script>
		<script src="/scripts/syntaxhighlighter/scripts/shBrushXml.js"></script>

		<title><%= title %> - Archived Tutorial - Dojo Toolkit</title>
	</head>
	<body class="tutorial">
		<%- include('../_partials/header') %>
		<div class="subnav">
			<div class="row">
				<div class="medium-12 columns">

				</div>
			</div>
		</div>
		<main>
			<div class="row">
				<div class="medium-12 medium-centered columns content">
					<h2><%= title %></h2>
					<h3 class="archiveVer">For Dojo <%= dojoVersion %></h3>
					<p><%- summary %></p>
					<%- content %>
				</div>
			</div>
			<%- include('../_partials/footer') %>
			<script type="text/javascript">
     			SyntaxHighlighter.all()
			</script>

		</main>
	</body>
</html>