<!DOCTYPE html>
<html>
<head>
	<%- include('../../_partials/meta', {'deps':['dtk/filter']}) %>
	<title>Dojo 2 Roadmap - Dojo Toolkit</title>
</head>
<body class="roadmap">
	<%- include('../../_partials/header') %>
	<%- include('../../_partials/subnav', {subnav: url.subnav.roadmap}) %>

	<main>
		<section class="glance">
			<div class="row">
				<div class="small-centered medium-10 large-10 columns">
					<h1 class="pageTitle">Dojo 2 Roadmap</h1>
					<h2 class="subTitle">At a Glance</h2>
				</div>
			</div>
			<div class="row">
				<div class="medium-2 columns medium-offset-1">
					<div class="icon fall">Fall 2015</div>
					<div class="description">Our goal is to release Dojo 2 this fall! Want to contribute?</div>
				</div>
				<div class="medium-2 columns">
					<div class="icon modular">Modular</div>
					<div class="description">Modules released separately and packaged into releases.</div>
				</div>
				<div class="medium-2 columns">
					<div class="icon typescript">TypeScript</div>
					<div class="description">Built with TypeScript, compiled to JavaScript.</div>
				</div>
				<div class="medium-2 columns">
					<div class="icon modern">Modern</div>
					<div class="description">IE9+, Edge, Chrome, Firefox, Mobile Safari &amp; More.</div>
				</div>
				<div class="medium-2 columns end">
					<div class="icon github">Github</div>
					<div class="description">Developed by the community using Github.</div>
				</div>
			</div>
			<div class="row">
				<div class="medium-6 small-centered columns learnMore">
					<a href="<%= url.root %><%= url.vision %>"><span class="button">The Dojo 2 Vision</span></a>
				</div>
			</div>
		</section>

		<section class="status alt">
			<h1 class="sectionTitle" id="packageStatus">Package Status</h1>
			<h2 class="subTitle">Platform</h2>
			<div class="row constrain groupDescription">
				<p>
					Packages in <strong>Dojo 2 Platform</strong> allow developers to bootstrap a Dojo application, load modules, create classes, manipulate data and the DOM, and handle various IO operations.
				</p>
			</div>
			<div class="row constrain">
				<div class="progress medium-10 columns small-centered">
					<div class="row iconRow">
						<div class="medium-6 columns">
							<div class="row">
								<div class="medium-4 columns">
									<div class="step">
										<div class="icon-chat icon"></div>
										<span>Feature Discussion</span>
									</div>
								</div>
								<div class="medium-4 columns">
									<div class="step">
										<div class="icon-round icon"></div>
									</div>
								</div>
								<div class="medium-4 columns hasNext">
									<div class="step">
										<div class="icon-spec icon"></div>
										<span>Specification</span>
									</div>
									<div class="icon-right icon next"></div>
								</div>

							</div>
						</div>
						<div class="medium-3 columns hasNext">
							<div class="step">
								<div class="icon-github icon"></div>
								<span>Development</span>
							</div>
							<div class="icon-right icon next"></div>
						</div>
						<div class="medium-3 columns end">
							<div class="step">
								<div class="icon-complete icon"></div>
								<span>Complete</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns planning">
							<span class="title">#Planning</span>
							<span class="value"><%= roadmap.counts.planning %></span>
						</div>
						<div class="medium-3 columns dev">
							<span class="title">#dev</span>
							<span class="value"><%= roadmap.counts.dev %></span>
						</div>
						<div class="medium-3 columns end complete">
							<span class="title">#Complete</span>
							<span class="value"><%= roadmap.counts.complete %></span>
						</div>
					</div>
				</div>

				<div class="cardGrid medium-10 columns small-centered">

					<% roadmap.packages.forEach(function(pkg, idx){ %>
						<% if(idx % 2 == 0) { %>
							<div class="row">
						<% } %>
						<%- include('../../_partials/ui/roadmapCard', pkg); %>
						<% if(idx % 2) { %>
							</div>
						<% } %>
					<% }); %>

				</div>
			</div>

			<h2 class="subTitle">Widgets</h2>
			<div class="row constrain groupDescription">
				<p>
					Defining widgets is <a href="<%=url.vision %>#widgets">part of the plan</a> in the near future.
				</p>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="medium-8 medium-centered columns">
					<h2 class="sectionTitle" id="getInvolved">Want to help?</h2>

					<h3 class="subTitle alt">Giving Feedback</h3>
					<p>
						In order to gather feedback in a manner where we don't lose insightful thoughts to one off conversations on IRC or various e-mail threads, please provide feedback via comments in each of the Package Proposals.
					</p>

					<h3 class="subTitle alt">Contributing Code</h3>

					<p>When development starts on a package a link to the github repo for the package will be posted. To contribute follow the guide to <a href="https://github.com/dojo/dojo/blob/master/CONTRIBUTING.md#submitting-a-pull-request">Submitting a Pull Request</a>.</p>

					<p>First things first though, if you're not a contributor we'll need for you to become one.</p>

					<%- include('../../_partials/ui/contributorButton') %>
				</div>
			</div>
		</section>
		<%- include('../../_partials/footer') %>
	</main>
</body>
</html>