<!DOCTYPE html>
<html>
<head>
	<% include ../../_partials/meta %>
	<title>Dojo 2 Roadmap - Dojo Toolkit</title>
</head>
<body class="roadmap">
	<% include ../../_partials/header %>

	<div class="subnav">
		<div class="row">
			<div class="medium-12 columns">
				<ul>
					<li><a href="<%= url.roadmap %>#packages">Package Status</a></li>
					<li><a href="<%= url.vision %>">Vision</a></li>
				</ul>
			</div>
		</div>
	</div>

	<main>
		<div class="pageTitle">
			<div class="text-center">
				<div class="row">
					<div class="small-centered medium-10 large-10 columns">
						<h1>Dojo 2 Roadmap</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="row full section glance">
			<h2 class="contentTitle">At a Glance</h2>

			<div class="medium-2 columns medium-offset-1">
				<div class="icon fall">Fall 2015</div>
				<div class="description">Our goal is to release Dojo 2 this fall! Want to contribute?</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon modular">Modular</div>
				<div class="description">Modules released separately and packaged into releases.</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon typescript">TypeScript</div>
				<div class="description">Built with TypeScript, compiled to JavaScript.</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon modern">Modern</div>
				<div class="description">IE9+, Chrome, Firefox, Mobile Safari / Chrome.</div>
			</div>
			<div class="medium-2 columns end">
				<div class="icon github">Github</div>
				<div class="description">Developed by the community using Github.</div>
			</div>
		</div>

		<div class="row full action">
			<a href="<%= url.vision %>"><span class="button">The Dojo 2 Vision</span></a>
		</div>
		<div id="packages"></div>
		<div class="row full section status">
			<h2 class="contentTitle">Package Status</h2>
			<div class="contentSubtitle">Core Packages: 15</div>

			<div class="progress">
				<div class="row iconRow">
					<div class="medium-6 columns">
						<div class="row">
							<div class="medium-4 columns">
								<div class="step">
									<div class="icon-chat icon"></div>
									Feature Discussion
								</div>
							</div>
							<div class="medium-4 columns">
								<div class="step">
									<div class="icon-round icon"></div>
								</div>
							</div>
							<div class="medium-4 columns">
								<div class="step">
									<div class="icon-spec icon"></div>
									Specification
								</div>
							</div>
						</div>
					</div>
					<div class="medium-3 columns">
						<div class="step">
							<div class="icon-github icon"></div>
							Development
						</div>
					</div>
					<div class="medium-3 columns end">
						<div class="step">
							<div class="icon-complete icon"></div>
							Complete
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns planning">
						<span class="title">#Planning</span>
						<span class="value">9</span>
					</div>
					<div class="medium-3 columns dev">
						<span class="title">#dev</span>
						<span class="value">4</span>
					</div>
					<div class="medium-3 columns end complete">
						<span class="title">#Complete</span>
						<span class="value">2</span>
					</div>
				</div>
			</div>

			<div class="packageList">
				<div class="row">
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">Loader</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<span class="icon-spec icon disabled"></span>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">Platform</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">Crypto</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package dev">
							<div class="content">
								<div class="title">Class Declaration</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<a href=""><span class="icon-github icon"></span></a>
								</div>
								
								<div class="label">#DEV</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">Async</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package complete">
							<div class="content">
								<div class="title">Core</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<a href=""><span class="icon-github icon"></span></a>
								</div>
								
								<div class="label">#COMPLETE</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">Stream</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package complete">
							<div class="content">
								<div class="title">io</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<a href=""><span class="icon-github icon"></span></a>
								</div>
								
								<div class="label">#COMPLETE</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">Events</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package dev">
							<div class="content">
								<div class="title">dom/html</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<a href=""><span class="icon-github icon"></span></a>
								</div>
								
								<div class="label">#DEV</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">i18n/g14n/l10n/bidi</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package dev">
							<div class="content">
								<div class="title">history/routing</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<a href=""><span class="icon-github icon"></span></a>
								</div>
								
								<div class="label">#DEV</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns">
						<div class="package dev">
							<div class="content">
								<div class="title">dstore</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<a href=""><span class="icon-github icon"></span></a>
								</div>
								
								<div class="label">#DEV</div>
							</div>
						</div>
					</div>
					<div class="medium-6 columns">
						<div class="package planning">
							<div class="content">
								<div class="title">a11y</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="medium-6 columns end">
						<div class="package planning">
							<div class="content">
								<div class="title">parser</div>
								<div class="description">
									Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
								</div>
							</div>
							<div class="taskbar">
								<div class="controls">
									<a href=""><span class="icon-spec icon"></span></a>
									<span class="icon-github icon disabled"></span>
								</div>
								
								<div class="label">#PLANNING</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row full section help">
			<div class="contentSubtitle">Want to help?</div>
			<%- include ../../_partials/ui/contributorButton %>
		</div>

		<%- include ../../_partials/footer %>
	</main>
</body>
</html>