<!DOCTYPE html>
<html>
<head>
	<%- include('../../_partials/meta') %>
	<script type="text/javascript" src="/scripts/tutorials/filter.js?<%= rev %>"></script>
	<title>Dojo 2 Roadmap - Dojo Toolkit</title>
</head>
<body class="roadmap">
	<%- include('../../_partials/header') %>
	<%- include('../../_partials/subnav', {subnav: url.subnav.roadmap}) %>

	<main>
		<div class="row">
			<div class="small-centered medium-10 large-10 columns">
				<h1 class="pageTitle">Dojo 2 Roadmap</h1>
				<h2 class="subTitle">At a Glance</h2>
			</div>
		</div>


		<div class="row constrain section glance">
			<div class="medium-2 columns medium-offset-1">
				<div class="icon fall">Fall 2015</div>
				<div class="description">Our goal is to release Dojo 2 this fall! Want to contribute?</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon modular">Modular</div>
				<div class="description">Modules released separately and packaged into releases.</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon typescript">TypeScript</div>
				<div class="description">Built with TypeScript, compiled to JavaScript.</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon modern">Modern</div>
				<div class="description">IE9+, Chrome, Firefox, Mobile Safari / Chrome.</div>
			</div>
			<div class="medium-2 columns end">
				<div class="icon github">Github</div>
				<div class="description">Developed by the community using Github.</div>
			</div>
		</div>

		<div class="medium-6 small-centered columns learnMore">
			<a href="<%= url.vision %>"><span class="button">The Dojo 2 Vision</span></a>
		</div>

		<div class="section status section alt" id="packageStatus">
			<h2 class="sectionTitle alt">Package Status</h2>
			<h3 class="sectionSubTitle">Core Packages: <%= roadmap.counts.total %></h3>
			<div class="row constrain">
				<div class="progress medium-10 columns small-centered">
					<div class="row iconRow">
						<div class="medium-6 columns">
							<div class="row">
								<div class="medium-4 columns">
									<div class="step">
										<div class="icon-chat icon"></div>
										<span>Feature Discussion</span>
									</div>
								</div>
								<div class="medium-4 columns">
									<div class="step">
										<div class="icon-round icon"></div>
									</div>
								</div>
								<div class="medium-4 columns hasNext">
									<div class="step">
										<div class="icon-spec icon"></div>
										<span>Specification</span>
									</div>
									<div class="icon-right icon next"></div>
								</div>

							</div>
						</div>
						<div class="medium-3 columns hasNext">
							<div class="step">
								<div class="icon-github icon"></div>
								<span>Development</span>
							</div>
							<div class="icon-right icon next"></div>
						</div>
						<div class="medium-3 columns end">
							<div class="step">
								<div class="icon-complete icon"></div>
								<span>Complete</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns planning">
							<span class="title">#Planning</span>
							<span class="value"><%= roadmap.counts.planning %></span>
						</div>
						<div class="medium-3 columns dev">
							<span class="title">#dev</span>
							<span class="value"><%= roadmap.counts.dev %></span>
						</div>
						<div class="medium-3 columns end complete">
							<span class="title">#Complete</span>
							<span class="value"><%= roadmap.counts.complete %></span>
						</div>
					</div>
				</div>

				<div class="cardGrid medium-10 columns small-centered">

					<% roadmap.packages.forEach(function(pkg, idx){ %>
						<% if(idx % 2 == 0) { %>
							<div class="row">
						<% } %>
						<%- include('../../_partials/ui/roadmapCard', pkg); %>
						<% if(idx % 2) { %>
							</div>
						<% } %>
					<% }); %>

				</div>
			</div>

			<h3 class="sectionSubTitle">Widget Packages</h3>
			<div class="row constrain widgets">
				<p>
					Defining widgets is <a href="<%=url.vision %>#widgets">part of the plan</a> in the near future.
				</p>
			</div>
		</div>
		<div class="section row" id="getInvolved">
			<div class="medium-10 medium-centered columns">
				<h2 class="sectionTitle">Want to help?</h2>

				<h3 class="sectionSubTitle alt">Giving Feedback</h3>
				<p>
					In order to gather feedback in a manner where we don't lose insightful thoughts to one off conversations on IRC or various e-mail threads, please provide feedback via comments in the spec documents.
				</p>
				<p>
					 We will announce that for each week's <a href="<%=url.community%>#meeting">Dojo Meeting</a>, we'll plan to focus on two proposals. That way, hopefully everyone that is interested in that package can plan to attend that week's IRC meeting and have real-time conversations about it. At the end of the meeting a summary of decisions will be gathered and entered into the spec document.
				</p>

				<h3 class="sectionSubTitle alt">Contributing Code</h3>

				<p>When development starts on a package a link to the github repo for the package will be posted. To contribute follow the guide to <a href="https://github.com/dojo/dojo/blob/master/CONTRIBUTING.md#submitting-a-pull-request">Submitting a Pull Request</a>.</p>

				<p>First things first though, if you're not a contributor we'll need for you to become one.</p>

				<%- include('../../_partials/ui/contributorButton') %>
			</div>
		</div>
		<%- include('../../_partials/footer') %>
	</main>
</body>
</html>