<!DOCTYPE html>
<html>
<head>
	<% include ../../_partials/meta %>
	<title>Dojo 2 Roadmap - Dojo Toolkit</title>
</head>
<body class="roadmap">
	<% include ../../_partials/header %>

	<div class="subnav">
		<div class="row">
			<div class="medium-12 columns">
				<ul>
					<li><a href="<%= url.roadmap %>">Package Status</a></li>
					<li><a href="<%= url.vision %>">Vision</a></li>
				</ul>
			</div>
		</div>
	</div>

	<main>
		<div class="row">
			<div class="small-centered medium-10 large-10 columns">
				<h1 class="pageTitle">Dojo 2 Roadmap</h1>
				<h2 class="subTitle">At a Glance</h2>
			</div>
		</div>


		<div class="row constrain section glance">
			<div class="medium-2 columns medium-offset-1">
				<div class="icon fall">Fall 2015</div>
				<div class="description">Our goal is to release Dojo 2 this fall! Want to contribute?</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon modular">Modular</div>
				<div class="description">Modules released separately and packaged into releases.</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon typescript">TypeScript</div>
				<div class="description">Built with TypeScript, compiled to JavaScript.</div>
			</div>
			<div class="medium-2 columns">
				<div class="icon modern">Modern</div>
				<div class="description">IE9+, Chrome, Firefox, Mobile Safari / Chrome.</div>
			</div>
			<div class="medium-2 columns end">
				<div class="icon github">Github</div>
				<div class="description">Developed by the community using Github.</div>
			</div>
		</div>

		<div class="medium-6 small-centered columns learnMore">
			<a href="<%= url.vision %>"><span class="button">The Dojo 2 Vision</span></a>
		</div>

		<div class="section status section alt">
			<h2 class="sectionTitle alt">Package Status</h2>
			<h3 class="sectionSubTitle">Core Packages: <%= packages.length %></h3>
			<div class="row constrain">
				<div class="progress medium-10 columns small-centered">
					<div class="row iconRow">
						<div class="medium-6 columns">
							<div class="row">
								<div class="medium-4 columns">
									<div class="step">
										<div class="icon-chat icon"></div>
										<span>Feature Discussion</span>
									</div>
								</div>
								<div class="medium-4 columns">
									<div class="step">
										<div class="icon-round icon"></div>
									</div>
								</div>
								<div class="medium-4 columns hasNext">
									<div class="step">
										<div class="icon-spec icon"></div>
										<span>Specification</span>
									</div>
									<div class="icon-right icon next"></div>
								</div>

							</div>
						</div>
						<div class="medium-3 columns hasNext">
							<div class="step">
								<div class="icon-github icon"></div>
								<span>Development</span>
							</div>
							<div class="icon-right icon next"></div>
						</div>
						<div class="medium-3 columns end">
							<div class="step">
								<div class="icon-complete icon"></div>
								<span>Complete</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns planning">
							<span class="title">#Planning</span>
							<span class="value"><%= packageCounts.planning %></span>
						</div>
						<div class="medium-3 columns dev">
							<span class="title">#dev</span>
							<span class="value"><%= packageCounts.dev %></span>
						</div>
						<div class="medium-3 columns end complete">
							<span class="title">#Complete</span>
							<span class="value"><%= packageCounts.complete %></span>
						</div>
					</div>
				</div>

				<div class="packageList medium-10 columns small-centered">

					<% packages.forEach(function(pkg, idx){ %>
						<% if(idx % 2 == 0) { %>
							<div class="row">
						<% } %>
						<%- include('../../_partials/ui/roadmapPackage', pkg); %>
						<% if(idx % 2) { %>
							</div>
						<% } %>
					<% }); %>

				</div>
			</div>
		</div>
		<% include ../../_partials/footer %>
	</main>
</body>
</html>