doctype
html
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title #{title} Version #{module !=null ? module.version : config.defaultVersion}
    meta(name="Description", content="Dojo toolkit API documentation viewer, version #{module !=null ? module.version : config.defaultVersion}")

    link(rel='stylesheet', href="/css/index.css?#{config.rev}")
    link(rel='stylesheet', href="/css/api.css?#{config.rev}")
    script(type="text/javascript").
        // packages: [{name:"api", location:location.pathname.replace(/\/[^/]+$/, '/') + "#{config.contextPath}scripts/api"}],
        dojoConfig = {async:1, debug:1, noGlobals:0,
            packages: [{name:"api", location: "/scripts/api"}],
            apiPath : '#{config.contextPath}',
            context : '#{config.contextPath}',
            apiDefault : '#{config.defaultVersion}',
            moduleExtension : '#{config.moduleExtension}',
            siteName : '#{config.siteName}',
            baseUrl: '/scripts/dojo/dojo/',
            #{(config.bugdb != null) ? 'bugdb : \'' + config.bugdb + '\'' : 'bugdb : null'}
        }

    script(type="text/javascript", src="/scripts/dojo/dojo/dojo.js?#{config.defaultVersion}")
    script(type="text/javascript", src="/scripts/api/api.js?#{config.rev}")
    include ../../_partials/tmp/favicons.html

    script(type="text/javascript", src="/scripts/syntaxhighlighter/scripts/shCore.js")
    script(type="text/javascript", src="/scripts/syntaxhighlighter/scripts/shBrushJScript.js")
    script(type="text/javascript", src="/scripts/syntaxhighlighter/scripts/shBrushXml.js")


  body(class="api")
    block main
        block header
        block navigation
        block content
