<!DOCTYPE html>
<html>
<head>
	<%- include('../_partials/meta') %>
	<title>Download - Dojo Toolkit</title>
	<script>
		function selectText(id) {
			var range = document.createRange();
			range.selectNode(document.getElementById(id));
			window.getSelection().addRange(range);
		}
	</script>
</head>
	<body class="download">
		<%- include('../_partials/header') %>
		<%- include('../_partials/subnav', {subnav: url.subnav.download}) %>

		<main>
			<div class="row section cdn">
				<span class="cdnAnchor anchor" id="cdn"></span>
				<div class="small-centered medium-10 large-10 columns">
					<h1 class="pageTitle">Get the Dojo Toolkit</h1>
					<h2 class="subTitle"><span class="icon-code-cloud icon"></span>Google CDN</h2>
					<h3 class="itemTitle">Copy and paste the script tag into your web page.</h3>
					<pre class="codeBlock" onClick="selectText('cdnUrl')"><code id="cdnUrl" class="html"><script src="<%= url.dojo.cdn %>"></script></code></pre>
					<h3 class="itemTitle">Learn to use Dojo.</h3>
					<div class="learnMore"><a href="<%= url.tuts.hello_dojo %>"><span class="button">Hello Dojo Tutorial</span></a></div>
				</div>
			</div>
			<div class="section bower section alt">
				<span class="bowerAnchor anchor" id="bower"></span>
				<div class="row">
					<div class="small-centered medium-10 large-10 columns">
						<h1 class="sectionTitle"><img src="/images/vendor/bower-logo.svg" onerror="this.src='/images/vendor/bower-logo.png'"  class="bowerLogo"> Install with Bower</h1>
						<pre class="codeBlock install" onClick="selectText('bowerCmd')"><code id="bowerCmd" class="bash">bower install dojo/dojo dojo/dijit dojo/dojox dojo/util</code></pre>

						<h3 class="itemTitle">Installing to current directory</h3>
						<p class="techNote">By default, bower installs to a bower_components subdirectory. <br> If you'd like to install to the current directory instead add a .bowerrc with the following:</p>
						<span class="filename">.bowerrc</span>
<pre class="codeBlock json">{
    "directory": "."
}</pre>
					</div>
				</div>
			</div>
			<div class="row section downloads">
				<span class="downloadAnchor anchor" id="download"></span>
				<h2 class="sectionTitle">Download</h2>
				<div class="three-up-icons">
					<div class="medium-4 columns iconBlock base">
						<a class="icon-base icon" href="<%= url.dojo.releaseJs %>"></a>
						<h4 class="blockLink"><a href="<%= url.dojo.releaseJs %>">Dojo Base</a></h4>
						<div class="multi">
							<a href="<%= url.dojo.releaseJs %>">compressed</a>
							<a href="<%= url.dojo.releaseJsUncompressed %>">uncompressed</a>
						</div>
						<p>A single-file download providing the base Dojo APIs.</p>
					</div>

					<div class="medium-4 columns iconBlock release">
						<a href="<%= url.dojo.releaseZip %>" class="icon-package icon"></a>
						<h4 class="blockLink"><a href="<%= url.dojo.releaseZip %>">Release Package</a></h4>
						<div class="multi">
							<a href="<%= url.dojo.releaseTar %>">.tar.gz</a>
							<a href="<%= url.dojo.releaseZip %>">.zip</a>
						</div>
						<p>Compressed and optimized Dojo, Dijit, and DojoX.</p>
					</div>

					<div class="medium-4 columns iconBlock source">
						<a class="icon-source icon" href="<%= url.dojo.sourceZip %>"></a>
						<h4 class="blockLink"><a href="<%= url.dojo.sourceZip %>">Full Source</a></h4>
						<div class="multi">
							<a href="<%= url.dojo.sourceTar %>">.tar.gz</a>
							<a href="<%= url.dojo.sourceZip %>">.zip</a>
						</div>
						<p>Full, uncompressed source, docs and tests of the Dojo Toolkit.</p>
					</div>
				</div>
			</div>
			<div class="section alt gh" id="github">
				<div class="row">
					<h1 class="sectionTitle">Dojo on Github</h1>
					<a class="icon-github icon" href="<%= url.ext.github %>"></a>
				</div>
			</div>
			<%- include('../_partials/footer') %>
		</main>
	</body>
</html>