<!DOCTYPE html>
<html>
<head>
	<% include _partials/meta %>
	<title>Dojo Toolkit</title>
</head>
<body class="home">
	<% include _partials/header %>
	<main>
		<div class="heading">
			<div class="text-center">
				<div class="row">
					<div class="medium-centered medium-10 large-10 columns">
						<h1>Dojo Toolkit 1.10</h1>
						<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
						<span class="button">Get Dojo</span>

						<div class="trusted">
							<h2 class="trustedTitle">Trusted by</h2>
							<span class="sprite cisco"></span>
							<span class="sprite jpmorgan"></span>
							<span class="sprite esri"></span>
							<span class="sprite intuit"></span>
							<span class="sprite adp"></span>
							<span class="sprite ibm"></span>
							<span class="sprite fanniemae"></span>
							<span class="sprite marriott"></span>
							<span class="sprite sitepen"></span>
							<span class="sprite vmware"></span>
							<span class="sprite philips"></span>
							<span class="sprite mathworks"></span>
							<span class="sprite pearson"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row news">
			<div class="small-12 columns centered newsItem">
				<h3 class="title">News</h3>
				<p>Work has begun on Dojo2! Learn about <a href="">the vision</a> and how to get involved.</p>
			</div>
		</div>
		<div class="row full" id="docs">
			<div class="medium-4 columns doc guide">
				<a href="<%= refguideUrl %>" class="icon-guide"></a>
				<h4 class="docLink"><a href="<%= refguideUrl %>">Reference Guide</a></h4>
				<p>Documentation and examples for every part of The Dojo Toolkit.</p>
			</div>
			<div class="medium-4 columns doc tutorials">
				<h3 class="sectionTitle">Use Dojo</h3>
				<a href="<%= tutorialsUrl %>" class="icon-tutorials"></a>
				<h4 class="docLink"><a href="<%= tutorialsUrl %>">Tutorials</a></h4>
				<p>Step by step guides focused on using Dojo to develop web applications.</p>

			</div>
			<div class="medium-4 columns doc api">
				<a href="<%= apiUrl %>" class="icon-api"></a>
				<h4 class="docLink"><a href="<%= apiUrl %>">API</a></h4>
				<p>The hardcore, no fluff API documentation for Dojo, Dijit and DojoX.</p>
			</div>
		</div>

		<% include _partials/footer %>
	</main>
</body>
</html>