<!DOCTYPE html>
<html>
<head>
	<% include _partials/meta %>
	<title>Dojo Toolkit</title>
</head>
<body class="home">
	<% include _partials/header %>
	<main>
		<div class="heading">
			<div class="text-center">
				<div class="row">
					<div class="small-centered medium-10 large-10 columns">
						<h1>Dojo Toolkit 1.10</h1>
						<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
						<span class="button">Get Dojo</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row full section news">
			<div class="small-12 columns small-centered newsItem">
				<h3 class="title">News</h3>
				<p>Work has begun on Dojo2! Learn about <a href="">the vision</a> and how to get involved.</p>
			</div>
		</div>
		<div class="row full section trusted">
			<h2 class="sectionTitle">Trusted by</h2>
			<span class="company-cisco"></span>
			<span class="company-jpmorgan"></span>
			<span class="company-esri"></span>
			<span class="company-intuit"></span>
			<span class="company-adp"></span>

			<span class="company-fanniemae"></span>
			<span class="company-marriott"></span>
			<span class="company-vmware"></span>
			<span class="company-philips"></span>
			<span class="company-ibm"></span>
			<span class="company-mathworks"></span>
			<span class="company-pearson"></span>
		</div>
		<div class="row full section docs">
			<div class="medium-4 columns doc guide">
				<a href="<%= url.guide %>" class="icon-guide"></a>
				<h4 class="docLink"><a href="<%= url.guide %>">Reference Guide</a></h4>
				<p>Documentation and examples for every part of The Dojo Toolkit.</p>
			</div>
			<div class="medium-4 columns doc tutorials">
				<h3 class="sectionTitle">Use Dojo</h3>
				<a href="<%= url.tutorials %>" class="icon-tutorials"></a>
				<h4 class="docLink"><a href="<%= url.tutorials %>">Tutorials</a></h4>
				<p>Step by step guides focused on using Dojo to develop web applications.</p>

			</div>
			<div class="medium-4 columns doc api">
				<a href="<%= url.api %>" class="icon-api"></a>
				<h4 class="docLink"><a href="<%= url.api %>">API</a></h4>
				<p>The hardcore, no fluff API documentation for the Dojo Toolkit</p>
			</div>
		</div>

		<div class="row full section support">
			<h2 class="sectionTitle">Help &amp; Support</h2>
			<div class="medium-2 columns medium-offset-1">
				<a href="<%= url.mailingList %>" class="icon mailingList">Dojo Mailing List</a>
			</div>
			<div class="medium-2 columns">
				<a href="<%= url.irc %>" class="icon irc">#dojo on IRC</a>
			</div>
			<div class="medium-2 columns">
				<a href="<%= url.stackoverflow %>" class="icon stackoverflow">Stack Overflow</a>
			</div>
			<div class="medium-2 columns">
				<a href="<%= url.bugTracker %>" class="icon bug">File a Bug</a>
			</div>
			<div class="medium-2 columns end">
				<a href="<%= url.commercialSupport %>" class="icon support">Commercial Support</a>
			</div>
		</div>

		<div class="row section join">
			<div class="small-12 small-centered columns">
				<h2 class="sectionTitle">Join the Community</h2>
				<div><span class="button">Become a Contributor</span></div>
				<a href="<%= url.github %>" class="icon-github" title="Dojo on Github"></a>
				<a href="<%= url.twitter %>" class="icon-twitter" title="Dojo on Twitter"></a>
				<a href="<%= url.facebook %>" class="icon-facebook" title="Dojo on Facebook"></a>
				<a href="<%= url.googlePlus %>" class="icon-gplus" title="Dojo on Google Plus"></a>
			</div>
		</div>

		<% include _partials/footer %>
	</main>
</body>
</html>