<!DOCTYPE html>
<html>
<head>
	<%- include _partials/meta %>
	<title>Dojo Toolkit</title>
</head>
<body class="home">
	<%- include _partials/header %>
	<main>
		<div class="heading">
			<div class="text-center">
				<div class="row">
					<div class="small-centered medium-10 large-10 columns">
						<h1>Dojo Toolkit <%= dojo.ver.major %></h1>
						<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
						<a href="<%= url.root %><%= url.download %>"><span class="button">Get Dojo</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="row full section news">
			<div class="small-12 columns small-centered newsItem">
				<div class="constrain">
					<h2 class="sectionTitle">Latest News</h2>
					<p>Work has begun on <a href="<%= url.root %><%= url.roadmap %>">Dojo 2</a>! Learn about <a href="<%= url.root %><%= url.vision %>">the vision</a> and how to get involved.</p>
				</div>
			</div>
		</div>
		<div class="row full section trusted">
			<h2 class="sectionTitle">Trusted by</h2>
			<div class="constrain">
				<span class="company-cisco"></span>
				<span class="company-jpmorgan"></span>
				<span class="company-esri"></span>
				<span class="company-intuit"></span>
				<span class="company-adp"></span>

				<span class="company-fanniemae"></span>
				<span class="company-marriott"></span>
				<span class="company-vmware"></span>
				<span class="company-philips"></span>
				<span class="company-ibm"></span>
				<span class="company-mathworks"></span>
				<span class="company-pearson"></span>
			</div>
		</div>
		<div class="row full section nopad">
			<div class="constrain">
				<%- include('_partials/ui/docsLeadin', {title:'Use Dojo'}) %>
			</div>
		</div>

		<div class="row full section support" id="support">
			<h2 class="sectionTitle">Help &amp; Support</h2>
			<%- include('_partials/ui/helpSupport') %>
		</div>

		<div class="row section join">
			<div class="small-12 small-centered columns">
				<%- include _partials/ui/contributorButton %>
				<%- include _partials/ui/social %>
			</div>
		</div>

		<%- include _partials/footer %>
	</main>
</body>
</html>